<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{ $title := print .Site.Title " | " .Title }}
        {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
        <title>{{ $title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/custom.css">

<!-- ------------- JQUERY, POPPER JS, BOOTSTRAP JS DEPENDENCIES ------------  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- --------------------- PRELOAD IMPORTED FONTS FIRST --------------------  -->
        <link rel="preload" as="font" href="/fonts/2070-Normal_92_web.woff2" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="/fonts/2070-Normal_92_web.woff" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="/fonts/2070mono-Light_web.woff2" type="font/woff2" crossorigin="anonymous">
    </head>

    <style>
            
/* ---------------- MAIN CSS PROPERTY CONTROL CENTER FOR VARIABLES ---------------- */
        :root {
        --text: white;
        --color-white: white;
        --color-black: black;
        --margin: 50px;
        --padding-between-sections: 100px;

        --font-family-primary: '2070';
        --font-family-secondary: 'happy times';
        --font-family-machine: '2070mono';

        --font-size-primary: 40px;
        --font-size-secondary: 40px;
        --font-size-title: 100px;
        --font-size-date: 20px;
        }

/* --------------------------------------------------------------------------- */

        body {
            overflow-x: hidden;
            background-color: var(--color-black);
            color: var(--color-white);
            z-index: 0;
         }

    </style>


    
    <body id="main">

<!-- ------------------------- LP FIXED ELEMENTS ---------------------------  -->

        {{ partial "header" . }}
        
        {{ partial "lp-player-podcast" . }}

<!-- ---------------------------- LP CONTENT -------------------------------  -->
        
        {{ partial "lp-title-questions" . }}

        {{ partial "lp-programme" . }}
        
        {{ partial "lp-list-artist" . }}

        {{ partial "lp-about" . }}

        {{ partial "lp-team" . }}


    </body>




<!-- ----------------------- SECTION OBSERVER ------------------------------  -->
    <script defer>

        // these are the elements (class or ID) that will be changed
        const itemprogramme = document.querySelector("#itemprogramme");
        const itemartists = document.querySelector("#itemartists");
        const itemabout = document.querySelector("#itemabout");
        
        // this is being watched by the observer
        const sectionOne = document.querySelector("#programme");
        const sectionTwo = document.querySelector("#artists");
        const sectionThree = document.querySelector("#about");
    
        const sectionOneOptions = {
            rootMargin: "0px 0px 0px 0px",
            threshold: 1.0
        };

        const sectionTwoOptions = {
        };

        const sectionThreeOptions = {
        };


        // OBSERVE SECTION 3 doing a function and looking at entries and itself + bring in options
        const sectionOneObserver = new IntersectionObserver(function(
            entries, 
            sectionOneObserver
        ) {
            entries.forEach(entry => {
                console.log(entry.target);
                if(entry.isIntersecting) {
                    itemprogramme.classList.add("nav-scrolled");
                } else {
                    itemprogramme.classList.remove("nav-scrolled");
                }
            })
        }, 
        sectionOneOptions);
    
        sectionOneObserver.observe(sectionOne);


        // OBSERVE SECTION 2
        const sectionTwoObserver = new IntersectionObserver(function(
            entries, 
            sectionTwoObserver
        ) {
            entries.forEach(entry => {
                console.log(entry.target);
                if(entry.isIntersecting) {
                    itemartists.classList.add("nav-scrolled");
                } else {
                    itemartists.classList.remove("nav-scrolled");
                }
            })
        }, 
        sectionTwoOptions);
    
        sectionTwoObserver.observe(sectionTwo);


        // OBSERVE SECTION 3
        const sectionThreeObserver = new IntersectionObserver(function(
            entries, 
            sectionThreeObserver
        ) {
            entries.forEach(entry => {
                console.log(entry.target);
                if(entry.isIntersecting) {
                    itemabout.classList.add("nav-scrolled");
                } else {
                    itemabout.classList.remove("nav-scrolled");
                }
            })
        }, 
        sectionThreeOptions);
    
        sectionThreeObserver.observe(sectionThree);
    
    
    </script>
    
</html>