<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{ $title := print .Site.Title " | " .Title }}
        {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
        <title>{{ $title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/custom.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    
    <!-- ------------ Style only for the main index page ------------  -->
    
        <style>


        </style>
    
    <!-- ------------------------------------------------------------  -->
    
    </head>

    <body>

        <!-- THIS REFERS TO THE PARTIAL HTML TEMPLATE HEADER -->
        {{ partial "header" . }}
        
        <!-- THIS REFERS TO THE PARTIAL HTML TEMPLATE OF THE GRID -->
        <!-- {{ partial "lp-grid-gen" . }} -->

        <!-- THIS REFERS TO THE PARTIAL HTML TEMPLATE OF THE QUESTION -->
        <!-- { partial "question" . }} -->

        <!-- THIS REFERS TO THE MARKDOWN ON WHICH THE SERVER IS BEING COMMUNICATED -->
        <!-- {{ .Content }} -->´

        <?php include "php/load_random_question.php"; ?>


        <!-- THIS REFERS TO THE PARTIAL HTML TEMPLATE ABOUT -->
        {{ partial "lp-player-podcast" . }}

        <!-- THIS REFERS TO THE PARTIAL HTML TEMPLATE ABOUT -->
        {{ partial "lp-programme" . }}


        <!-- THIS REFERS TO THE PARTIAL HTML TEMPLATE "list-artist" -->
        {{ partial "list-artist" . }}
        <!-- THIS REFERS TO THE PARTIAL HTML TEMPLATE ABOUT -->
        <!-- {{ partial "lp-artists" . }} -->


        <!-- THIS REFERS TO THE PARTIAL HTML TEMPLATE ABOUT -->
        {{ partial "lp-about" . }}


        <!-- THIS REFERS TO THE PARTIAL HTML TEMPLATE ABOUT -->
        {{ partial "lp-team" . }}

        <!-- THIS REFERS TO THE PARTIAL HTML TEMPLATE "HEADER" -->
        <!-- {{ partial "marquee" . }} -->

    </body>
    
</html>