<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{ $title := print .Site.Title " | " .Title }}
        {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
        <title>{{ $title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/custom.css">

<!-- ------------- JQUERY, POPPER JS, BOOTSTRAP JS DEPENDENCIES ------------  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="../js/mousetrail.js"></script>

<!-- --------------------- PRELOAD IMPORTED FONTS FIRST --------------------  -->
        <link rel="preload" as="font" href="../fonts/2070-Normal_92_web.woff2" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="../fonts/2070-Normal_92_web.woff" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" as="font" href="../fonts/2070mono-Light_web.woff2" type="font/woff2" crossorigin="anonymous">
    </head>

    <style>
            
/* ---------------- MAIN CSS PROPERTY CONTROL CENTER FOR VARIABLES ---------------- */
        :root {
        --text: white;
        --color-white: white;
        --color-black: black;
        --color-rosa: #E59BA8;
        --color-indigo: #1D2273;
        --margin: 50px;
        --padding-between-sections: 100px;

        --font-family-primary: '2070';
        --font-family-secondary: 'happy times';
        --font-family-machine: '2070mono';

        --font-size-primary: 40px;
        --font-size-secondary: 60px;
        --font-size-title: 120px;
        --font-size-date: 20px;
        }

/* --------------------------------------------------------------------------- */

        body {
            overflow-x: hidden;
            background-color: var(--color-black);
            color: var(--color-white);
            z-index: 0;
            cursor: url('../imgs/2070_cursor.png'), auto;
         }

    </style>

    <body id="main">

<!-- ------------------------- LP FIXED ELEMENTS ---------------------------  -->

        {{ partial "header" . }}
        
        {{ partial "lp-player-podcast" . }}

<!-- ---------------------------- LP CONTENT -------------------------------  -->
        
        {{ partial "lp-title-questions" . }}

        {{ partial "lp-programme" . }}
        
        {{ partial "lp-about" . }}

        {{ partial "lp-list-artist" . }}

        {{ partial "lp-team" . }}

<!-- ---------------------------- CANVAS FOR MOUSE TRAIL -------------------------------  -->
        <canvas id="myCanvas"></canvas>
        <!-- <script>

          window.onload = function(){
            init();
            window.addEventListener('resize', init, false)
          }
          function init(){
            var ltpc = document.getElementById('myCanvas');
            var context = ltpc.getContext('2d');
            var myWidth = window.InnerWidth -5;
            var myHeight = window.InnerHeight -5;
            context.canvas.width = myWidth;
            context.canvas.height = myHeight;
            context.fillStyle = '#FFFF00';
            context.fillRect(0,0,myWidth,myHeight);
          }

        </script> -->

    </body>




<!-- ----------------------- SECTION OBSERVER ------------------------------  -->

<script defer>

    // these are the elements (class or ID) that will be changed
    const itemprogramme = document.querySelector("#itemprogramme");
    const itemartists = document.querySelector("#itemartists");
    const itemabout = document.querySelector("#itemabout");

    // this is being watched by the observer
    const sectionOne = document.querySelector("#programme");
    const sectionTwo = document.querySelector("#artists");
    const sectionThree = document.querySelector("#about");

    availableSections = [
        {
            id: "programme",
            menuId: "itemprogramme"
        },
        {
            id: "about",
            menuId: "itemabout"
        },
        {
            id: "artists",
            menuId: "itemartists"
        }
    ];
    const elementsOffsets = {};

    activeSectionId = null;

    window.addEventListener("scroll", () => {
        availableSections.forEach((s) => {
        elementsOffsets[s.id] = document.querySelector(`#${s.id}`).offsetTop;
        });

        var sectionHit = availableSections
      .slice()
      .reverse()
      .some((section) => {
        if (window.pageYOffset + 10 >= elementsOffsets[section.id]) {
          if (activeSectionId === section.id) {
            return true;
          }
          console.log(section);
          activeSectionId = section.id;
          // Setzt in der URL den Section-Eintrag hinter dem Hashtag
          window.history.pushState("", "", `#${section.id}`);
          if (section.id === "programme") {
            itemprogramme.classList.add("nav-scrolled");
            itemartists.classList.remove("nav-scrolled");
            itemabout.classList.remove("nav-scrolled");
            return true;
          }
          if (section.id === "about") {
            itemprogramme.classList.remove("nav-scrolled");
            itemartists.classList.remove("nav-scrolled");
            itemabout.classList.add("nav-scrolled");
            return true;
          }
          if (section.id === "artists") {
            itemprogramme.classList.remove("nav-scrolled");
            itemartists.classList.add("nav-scrolled");
            itemabout.classList.remove("nav-scrolled");
            return true;
          }
        }
        return false;
      });
      if (!sectionHit) {
        itemprogramme.classList.remove("nav-scrolled");
        itemartists.classList.remove("nav-scrolled");
        itemabout.classList.remove("nav-scrolled");
        activeSectionId = null;
    }
    });
    
</script>

    
</html>