/* ------------ FONT QUERY ------------ */


@font-face {
    font-family: '2070';
    font-weight: 300;                                               
    font-style: normal;
    unicode-range: U+000-5FF;
    src:    local('2070'),
            url('2070-Light_72_web.woff2')  format('woff2'),        /* Super Modern Browsers iOS */
            url('2070-Light_72_web.woff')   format('woff'),         /* Pretty Modern Browsers */
            url('2070-Light72.ttf')         format('truetype');     /* Safari, Android, iOS */
}

@font-face {
    font-family: '2070';
    font-weight: 400;                                               /* 400 = normal */
    font-style: normal;
    unicode-range: U+000-5FF;
    src:    local('2070'),
            url('2070-Normal_92_web.woff2') format('woff2'),        /* Super Modern Browsers iOS */
            url('2070-Normal_92_web.woff')  format('woff'),         /* Pretty Modern Browsers */
            url('2070-Normal92.ttf')        format('truetype');     /* Safari, Android, iOS */
  }

  @font-face {
    font-family: '2070';
    font-weight: 500;                                               
    font-style: normal;
    unicode-range: U+000-5FF;
    src:    local('2070'),
            url('2070-Medium_116_web.woff2')  format('woff2'),      /* Super Modern Browsers iOS */
            url('2070-Medium_116_web.woff')   format('woff'),       /* Pretty Modern Browsers */
            url('2070-Medium116.ttf')         format('truetype');   /* Safari, Android, iOS */
}

@font-face {
    font-family: '2070';
    font-weight: 700;                                               /* 700 = bold */
    font-style: normal;
    unicode-range: U+000-5FF;
    src:    local('2070'),
            url('2070-Bold156.eot'),
            url('2070-Bold_156_web.woff2')  format('woff2'),        /* Super Modern Browsers iOS */
            url('2070-Bold_156_web.woff')   format('woff'),         /* Pretty Modern Browsers */
            url('2070-Bold156.svg')         format('svg'),          /* Legacy iOS */
            url('2070-Bold156.ttf')         format('truetype');     /* Safari, Android, iOS */
}

@font-face {
    font-family: '2070';
    font-weight: 900;                                               /* 900 = black */
    font-style: normal;
    unicode-range: U+000-5FF;
    src:    local('2070'),
            url('2070-Black_176_web.woff2') format('woff2'),        /* Super Modern Browsers iOS */
            url('2070-Black_176_web.woff')  format('woff'),         /* Pretty Modern Browsers */
            url('2070-Black176.ttf')        format('truetype');     /* Safari, Android, iOS */
}


@font-face {
    font-family: 'happy times';
    font-weight: 500;
    font-style: normal;
    unicode-range: U+000-5FF;
    src:    local('happy times'),
            url('happy-times-NG_regular_master_web.woff2')  format('woff2'),
            url('happy-times-NG_regular_master.ttf')        format('truetype');
}

@font-face {
    font-family: '2070mono';
    font-weight: 300;                                                   /* 300 = light */
    font-style: normal;
    unicode-range: U+000-5FF;
    src:    local('2070mono'),
            url('2070mono-Light_web.woff2')    format('woff2'),        /* Super Modern Browsers iOS */
            url('2070mono-Light_72_web.woff')  format('woff'),         /* Pretty Modern Browsers */
            url('2070mono-Light72.svg')        format('svg'),          /* Legacy iOS */
            url('2070mono-Light72.ttf')        format('truetype');     /* Safari, Android, iOS */
}

/* ------------ BUTTON STYLING ------------ */
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* ------------ TEXT STYLING ------------ */

/* h1, h2 {
    font-family: '2070';
} */

h3 {
    font-family: '2070 mono';
}

/* ------------ HEADER STYLING ------------ */


/* ------------ GRID STYLING ------------ */

