@font-face {
    font-family: '2070';
    src: url('2070-Normal_92_web.woff2') format('woff2');
  }

@font-face {
    font-family: '2070-Bold';
    src: url('2070-Bold_156_web.woff2') format('woff2');
}

@font-face {
    font-family: 'happy times';
    src: url('happy-times-NG_regular_master_web.woff2') format('woff2');
}

/* ------------ BUTTON STYLING ------------ */
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* ------------ TEXT STYLING ------------ */

body {
    font-family: '2070',;
}

h1, h2 {
    font-family: '2070';
}

p {
    font-family: 'happy times';
}

.header-container {
    overflow: hidden;
    font-family: '2070';
    position: fixed;
    color: white;
    background-color: black;
    width: 100%;

}
.title {
    float: left;
    /* text-align: center; */
    padding: 5px 0px 0px 10px;
}
.menu button{
    float: right;
    /* text-align: center; */
    padding: 5px 100px 0px 0px;
}


/* ------------ GRID STYLING ------------ */

svg{
    width:100%;
    height:100%;
    overflow: inherit;
    top: 0px;
    left: 0px;
}