<header class="header-container"> 
    <div class="title"> <h2> aussicht.space </h2> </div>
    <div class="menu">
        <div id="about"> <h3> <button type="button" onclick="alert('Oh you want to know what this website is about? We still have to figure out by ourself. Please be patient. We will tell you soon!')"> about </button> </h3> </div>
        <div id="programm"> <h3> <button type="button" onclick="alert('We are still working on the program. Its going to be lit. So stay tuned!')"> programm </button> </h3> </div>
    </div>
</header>
<script src="" async defer></script>