<!-- ------------ Style only for the artists section of the landing page ------------  -->

<style>
    .lp-artists {
        background-color: white;
        position: static;
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 50px;
        z-index: 1;
        color: white;
        font-family: 'happy times';
        font-weight: 400;
        font-size: 30px;
        line-height: 1.2;
    }
    .lp-artists p {
        text-align: center;
        display: grid;
        margin: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: black;
        font-family: 'happy times';
        font-weight: 400;
        font-size: 50px;
        line-height: 1.2;
    }
</style>


<style>
    .parent_artist_names {
        background-color: brown;
        display: inline-block;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
    }
    .child-artist_list_hovers {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .child-artist_list_images_divs {
        position: absolute;
        display: inline;
        bottom: 0;

    }
    .child-artist_list_names {
        visibility: hidden;
    }
</style>



<div class="lp-artists" >
    <p>

        <div id="parent_artist_names-zebner_frank" class="parent_artist_names" onmouseenter="hover_arist_name('blank_div_simulating_loading-zebner_frank', 'artist_list_empty_div_pushing_the_name-zebner_frank', '#parent_artist_names-zebner_frank', '#child-artist_list_images_divs-zebner_frank')" onmouseleave="hover_arist_name('blank_div_simulating_loading-zebner_frank', 'artist_list_empty_div_pushing_the_name-zebner_frank', '#parent_artist_names-zebner_frank', '#child-artist_list_images_divs-zebner_frank')">
            
            <div id="blank_div_simulating_loading-zebner_frank" style="width:32px; height: 32px; display: none; background-color: blue;"></div>

            <div id="child-artist_list_images_divs-zebner_frank" class="child-artist_list_images_divs">
                <img class="artist_list_images_imgs"
                    src="imgs/image_gpt/arndt_armin/generated/32x32/32_arndt_armin_0.png"
                    style="width:32px; height: 32px; display: none">
                <img class="artist_list_images_imgs"
                    src="imgs/image_gpt/arndt_armin/generated/32x32/32_arndt_armin_1.png"
                    style="width:32px; height: 32px; display: none">
                <img class="artist_list_images_imgs"
                    src="imgs/image_gpt/arndt_armin/generated/32x32/32_arndt_armin_2.png"
                    style="width:32px; height: 32px; display: none">
                <img class="artist_list_images_imgs"
                    src="imgs/image_gpt/arndt_armin/generated/32x32/32_arndt_armin_3.png"
                    style="width:32px; height: 32px; display: none">

                <div id="artist_list_empty_div_pushing_the_name-zebner_frank" class="artist_list_empty_div" style="width:0px; height: 32px; display: none"></div>

                <div style="width:0px; height: 0px; display: none"></div>
                <div style="width:0px; height: 0px; display: none"></div>    
            
                Frank Zebner
            </div>

            <div id="child-artist_list_name-zebner_frank" class="child-artist_list_names">
                Frank Zebner
            </div>

            <div id="child-artist_list_hovers-zebner_frank" class="child-artist_list_hovers">
            </div>
        </div>





        <div id="parent_artist_names-XXXXXXX_XXXXXXX" class="parent_artist_names" onmouseenter="hover_arist_name('blank_div_simulating_loading-XXXXXXX_XXXXXXX', 'artist_list_empty_div_pushing_the_name-XXXXXXX_XXXXXXX', '#parent_artist_names-XXXXXXX_XXXXXXX', '#child-artist_list_images_divs-XXXXXXX_XXXXXXX')" onmouseleave="hover_arist_name('blank_div_simulating_loading-XXXXXXX_XXXXXXX', 'artist_list_empty_div_pushing_the_name-XXXXXXX_XXXXXXX', '#parent_artist_names-XXXXXXX_XXXXXXX', '#child-artist_list_images_divs-XXXXXXX_XXXXXXX')">

            <div id="blank_div_simulating_loading-XXXXXXX_XXXXXXX" style="width:32px; height: 32px; display: none; background-color: blue"></div>
            
            <div id="child-artist_list_images_divs-XXXXXXX_XXXXXXX" class="child-artist_list_images_divs">
                

                <img class="artist_list_images_imgs"
                    src="imgs/image_gpt/arndt_armin/generated/32x32/32_arndt_armin_5.png"
                    style="width:32px; height: 32px; display: none">
                <img class="artist_list_images_imgs"
                    src="imgs/image_gpt/arndt_armin/generated/32x32/32_arndt_armin_6.png"
                    style="width:32px; height: 32px; display: none">
                <img class="artist_list_images_imgs"
                    src="imgs/image_gpt/arndt_armin/generated/32x32/32_arndt_armin_7.png"
                    style="width:32px; height: 32px; display: none">
                
                <div id="artist_list_empty_div_pushing_the_name-XXXXXXX_XXXXXXX" class="artist_list_empty_div" style="width:0px; height: 32px; display: none; background-color: green"></div>

                <div style="width:0px; height: 0px; display: none"></div>
                <div style="width:0px; height: 0px; display: none"></div>





                Armin Arndt
            </div>

            <div id="child-artist_list_name-XXXXXXX_XXXXXXX" class="child-artist_list_names">
                Armin Arndt 
            </div>

            <div id="child-artist_list_hovers-XXXXXXX_XXXXXXX" class="child-artist_list_hovers">
            </div>
        </div>

    </p>
</div>


<!-- ------------ javascript  ------------ -->






<!-- THE most most most most advance script  -->

<script>
    function hover_arist_name(id_blue_div, id_empty_spacing_div, id_parent, id_child){
        var loading_speed = 100;
        var deloading_speed = 100;
        var kids = [].reverse.call($(id_child).children());
        //$('#' + id_blue_div).css('display', 'block');

        
        startLoadingImages();

        function stopLoadingImages(){
            $.each(kids, function (i, kid) {
                setTimeout(function () {
                    $(kid).css('display', 'none');
                    //$('#' + id_empty_spacing_div).css('width', '0px');
                    //$('#' + id_blue_div).css('display', 'none');

                }, i * deloading_speed);
            })
            
        }

        function startLoadingImages(){
                $.each(kids, function (i, kid) {
                    setTimeout(function () {
                        var isHovered = $(id_parent).is(':hover'); // returns true or false
                        if (isHovered == true) {
                            console.log('display i:' + i );
                            //console.log('continue mouseenter function');
                            $(kid).css('display', 'inline');
                            if ( i = kids.length ) {
                                setTimeout(function () {

                                    console.log('display kids length:' + kids.length );
                                    
                                    $('#' + id_empty_spacing_div).css('display', 'inline');
                                    $('#' + id_empty_spacing_div).css('width', '100%');

                                    console.log('change spacing div ');
                                }, loading_speed * kids.length);
                            } else { 
                            }
                        } else {
                            stopLoadingImages();
                        }
                    }, i * loading_speed);
                })
        }
    }
</script>