
<!-- ------------ Style only for the igpt images ------------  -->

<style>
    .lp-exhibitiontext {
        color: white;
        position: static;
        font-family: '2070';
        font-weight: 300;
        font-size: 150pt;
        display: grid;
        margin: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        line-height: 1;
    }

    span {
        background-color: white;
        color: black;
        animation: caret 1s steps(1) infinite;
    }

</style>



<!-- ------------ html load igpt images ------------  -->

<div class="lp-exhibitiontext" id="jump2top">
    <p>
    <span class="type-questions">textextext</span>Aus heutiger Sicht. Diskurse über Zukunft.
    12.03.-16.03
    </p>
</div>


<!-- ------------ javascript  ------------  -->


<script class="type-questions">

    document.addEventListener('DOMContentLoaded',function(event){
            
            var dataText = [
                "<?php echo $one_item["question"]; ?>"
            ];

            
            
            function typeWriter(text, i, fnCallback) {
                
                if (i < (text.length)) {
                    
                    document.querySelector("span").innerHTML = text.substring(0, i+1) +'<span aria-hidden="true"></span>';

                    
                    setTimeout(function() {
                        typeWriter(text, i + 1, fnCallback)
                    }, 100);
                }
                
                else if (typeof fnCallback == 'function') {
                    
                    setTimeout(fnCallback, 700);
                }
            }
            
            function StartTextAnimation(i) {
                if (typeof dataText[i] == 'undefined'){
                    setTimeout(function() {
                        StartTextAnimation(0);
                    }, 20000);
                }
                
                if (i < dataText[i].length) {
                    
                    typeWriter(dataText[i], 0, function(){
                        
                        StartTextAnimation(i + 1);
                    });
                }
            }
            
            StartTextAnimation(0);
        });


</script>

<!-- <script class="gpt_images">
            function EnableThumbnail(i) {
                console.log(i);
                console.log('thumbnail'+i);
                if (i>3) {
                    return;
                }
                document.getElementById('thumbnail'+i).style.display='inline';
                window.setTimeout(function() {EnableThumbnail(i+1);}, 3000);
            }

            window.setTimeout(function() {EnableThumbnail(0);}, 3000);
</script> -->