
<!-- ------------ Style only for the igpt images ------------  -->

<style>
    .exhibitiontext {
        /*background-color: grey; // braucht man das?*/
        color: white;
        height: 600px;
        width: 1200px;
        position: absolute;
        top: 169px;
        left: 0;
        z-index: -1;
        padding: 20px;
        font-size: 90pt;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>



<!-- ------------ html load igpt images ------------  -->

<div class="exhibitiontext">
    <p>
    <img id="thumbnail0" src="imgs/image_gpt/arndt_armin/generated/128x128/128_arndt_armin_0.png" style="width:128px; height: 128px; display: none">
    <img id="thumbnail1" src="imgs/image_gpt/arndt_armin/generated/128x128/128_arndt_armin_1.png" style="width:128px; height: 128px; display: none">
    <img id="thumbnail2" src="imgs/image_gpt/arndt_armin/generated/128x128/128_arndt_armin_2.png" style="width:128px; height: 128px; display: none">
    Aus heutiger Sicht. Diskurse über Zukunft.
    12.03.-16.03
    </p>
</div>


<!-- ------------ javascript  ------------  -->

<script class="gpt_images">
            function EnableThumbnail(i) {
                console.log(i);
                console.log('thumbnail'+i);
                if (i>3) {
                    return;
                }
                document.getElementById('thumbnail'+i).style.display='inline';
                window.setTimeout(function() {EnableThumbnail(i+1);}, 3000);
            }

            window.setTimeout(function() {EnableThumbnail(0);}, 3000);
</script>