<!-- ------------ Style only for the about section of the landing page ------------  -->

<style>
    .lp-about {
        margin-top: 70px;
        margin-bottom: 130px;
        padding-top: 100px;
    }

    .lp-about p {
        position: static;
        display: grid;
        margin: 20px;
        margin-bottom: 50px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        z-index: 1;
        color: white;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.2;
    }

</style>




<div class="lp-about" id="about">

    <p class="lp-about-par" id="1">
    Zwischen den Stühlen der vielen erinnerten Vergangenheiten und der zahlreichen denkbaren Zukünfte stehen wir im Jetzt. Beschäftigt mit den Herausforderungen des Alltags und dem Ankommen in der einen oder anderen »neuen« Normalität, scheint die Vorstellung von Zukunft als einem verheißungsvollen Horizont in Schieflage, zumindest in den Hintergrund geraten. Während die einen an Vergangenem festhalten, Zukunftsvisionen der Vergangenheit stilisieren oder der jüngeren Generation Utopie-Verdrossenheit vorwerfen, plädieren die anderen für mehr Verantwortung in der Gegenwart für die Zukunft.
    </p>

    <p class="lp-about-par" id="2">
    Der Glaube an gemeinsamen Fortschritt, etwa in Bezug auf Technologien oder das soziale Miteinander, wird Tag für Tag auf die Probe gestellt. Wenn sich politische und ökologische Ereignisse überschlagen und die Zahl der Haupt- und Nebenschauplätze stetig anzuwachsen scheint, verlagert sich der einzelne Standpunkt auf zunehmend unsicheres Terrain. Sich selbst und andere nach Zukünftigem zu fragen, bleibt umso mehr relevant und zeigt sich, auch bei derzeitigen Future Bewegungen, nicht als Gegenstand, sondern als Prozess von Interaktion und Kommunikation.
    </p>   

    <p class="lp-about-par" id="3">
    Wie können Diskurse über Zukunft heute geführt werden, wenn nicht nur die Zukunft, einer jetzigen und kommenden Gesellschaft, sondern auch das Verhandeln von Zukunft ungewiss ist? Ein zu starres, prognostisches Wissen über künftige Realitäten würde den Möglichkeitsraum jedenfalls eher verstellen als öffnen. Zumindest bietet diese Sichtweise die Hoffnung, dass wir noch auf sie einwirken können – im positiven wie im negativen Sinne. Die Auseinandersetzung mit Zukünftigem kann dann in multiple, offene Fragestellungen münden, die eine Gravitation zu Unbestimmtheiten und zum Nichtwissen spürbar werden lassen.
    </p>

    <p class="lp-about-par" id="4">
    Dieser Ansatz zeigt sich nicht zuletzt in Design und Kunst mit einer im Ergebnis nie ganz vorhersehbaren Interaktion zwischen Gestaltenden, Materialien und Kontexten, in denen neue Entwürfe entstehen und zur Diskussion gestellt werden. Nicht nur Neuerungen innerhalb dieser Disziplinen selbst, sondern auch soziale Umbrüche und Prozesse des Um- und Andersdenkens auf ganz unterschiedlichen Wissensgebieten wären ohne den Mut, die Spannungen und Mehrdeutigkeiten undenkbar. An diesem Punkt setzt die Ausstellung “Aus heutiger Sicht. Diskurse über Zukunft” an, um verschiedene Sichtweisen auf Gegenwart und Zukunft in einen mehrstimmigen Austausch zu bringen.
    </p>

</div>