<style>

    footer {
        padding: 80px var(--margin) 150px var(--margin);
    }

    img.logos {
        filter: invert(1);
        display: inline-block;
    }



</style>

<footer class="lp-footer">

    <img class="logos" id="hfgofmain" src="/imgs/logos/hfgofmain.png" alt="HfG of_Main">
    <img class="logos" id="mak" src="/imgs/logos/museumangewandtekunst.png" alt="Museum für Angewandte Kunst">
    <img class="logos" id="form" src="/imgs/logos/form.png" alt="Form">
    <img class="logos" id="museumsufer" src="/imgs/logos/museumsufer.png" alt="Museumsufer">
    <img class="logos" id="flemings" src="/imgs/logos/flemings.png" alt="Flemings">
    <img class="logos" id="hmwk" src="/imgs/logos/HMWK.png" alt="HMWK">
    <img class="logos" id="journal" src="/imgs/logos/journal.png" alt="Journal">
    <img class="logos" id="marschnerstiftung" src="/imgs/logos/marschnerstiftung.png" alt="Marschnerstiftung">

</footer>