<!-- ------------ Style only for the programme section of the landing page ------------  -->

<style>

    #programme {
        padding-top: var(--padding-between-sections);
        padding-bottom: 130px;
        position: static;
        display: grid;
        margin: 20px;
        margin-right: var(--margin);
        margin-left: var(--margin);
        grid-template-columns: auto;
        grid-template-rows: auto;
        z-index: 1;
        color: white;
        font-weight: 400;
        font-size: var(--font-size-primary);
        font-family: var(--font-family-primary);
        line-height: 1.2;
        margin-bottom: 300px;
    }

    .programme-date {
        font-size: var(--font-size-date);
        font-family: var(--font-family-machine);
        font-weight: 400;
    }

</style>


<div id="programme">

    <p>
        <span class="programme-date">11.3.2021, 6–8PM</span> Eröffnung <span class="programme-date">12.–14.3.2021, 12–8PM</span> Eröffnungswochenende, Performances, Recording Room Failure Workshop (Fr.), Programmraum, Werkstatt <span class="programme-date">17.3.2021, 6–8PM</span> Performance, Recording Room, Mensa der Zukunft <span class="programme-date">24.3.2021, 6–7:30PM</span> Performance, Recording Room, Mittwochsplattform Stream, Recording Room <span class="programme-date">3.–4.4.2021, 6–8PM</span> Doktorand_innen Kolloquium <span class="programme-date">14.4.2021, 6–8PM</span> ganztägig Performance, Recording Room Luca Ganz <span class="programme-date">21.4.2021, 6–8PM</span>
    </p>

</div>