<!-- ------------ Style only for the programme section of the landing page ------------  -->

<style>

    .lp-programme {
        padding-top: 100px;
        padding-bottom: 130px;
        position: static;
        display: grid;
        margin: 20px;
        grid-template-columns: auto;
        grid-template-rows: auto;
        z-index: 1;
        color: white;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.2;
    }

</style>


<div class="lp-programme">

    <p class="lp-programme-txt">
        <strong>11.3.2021, 6–8PM</strong> Eröffnung <strong>12.–14.3.2021, 12–8PM</strong> Eröffnungswochenende, Performances, Recording Room Failure Workshop (Fr.), Programmraum, Werkstatt <strong>17.3.2021, 6–8PM</strong> Performance, Recording Room, Mensa der Zukunft <strong>24.3.2021, 6–7:30PM</strong> Performance, Recording Room, Mittwochsplattform Stream, Recording Room <strong>3.–4.4.2021, 6–8PM</strong> Doktorand_innen Kolloquium <strong>14.4.2021, 6–8PM</strong> ganztägig Performance, Recording Room Luca Ganz <strong>21.4.2021, 6–8PM</strong>
    </p>

</div>