<!-- ------------ Style only for the programme section of the landing page ------------  -->

<style>
    
    .lp-team {
        background-color: white;
        position: static;
        padding-top: 100px;
        padding-bottom: 100px;
        margin-bottom: 50px;
        z-index: 1;    }

    .lp-team p {
        text-align: center;
        display: grid;
        margin-left: var(--margin);
        margin-right: var(--margin);
        grid-template-columns: auto;
        grid-template-rows: auto;
        color: black;
        font-family: var(--font-family-secondary);
        font-weight: 400;
        font-size: var(--font-size-secondary);
        line-height: 1.3;
    }

</style>


<div class="lp-team">

    <p>
        Kuratiert wird die Gruppenaus­stellung unter der Leitung von Matthias Wagner K, dem Direktor des Museum Angewandte Kunst, von einem neunköpfigen Projektteam mit Beatrice Bianchini, Irina Denkmann, Jonas Deuter, Ulrike Grünewald, Felix Kosok, Erika Sacco, Maria Sitte, Anna Sukhova und Ellen Wagner (Studierende und Mitarbeiter*innen der HfG Offenbach).
    </p>

</div>