<!-- THIS IS HTML CONTAINS THE MARQUEE OF NAMES -->
<!-- <div class="marquee">
    <div class="marquee_NAMES">
        <div class="marquee_NAMES_1">
            <p>EgoZen, Armin Arndt, Bea Bianchini, Ken Rodenwald, Erika Sacco</p>
        </div>
        <div class="marquee_NAMES_2">
            <p>EgoZen, Armin Arndt, Bea Bianchini, Ken Rodenwald, Erika Sacco</p>
        </div>
    </div>
</div> -->

<!-- <div class="marquee_INFO">
    <div class="marquee_INFO_1">
        <p><span>Aus heutiger Sicht</span> Diskurse über Zukunft @Museum für Angewandte Kunst Frankfurt <span>Opening</span> Xx.Xx.Xx</p>
    </div>
    <div class="marquee_INFO_2">
        <p><span>Aus heutiger Sicht</span> Diskurse über Zukunft @Museum für Angewandte Kunst Frankfurt <span>Opening</span> Xx.Xx.Xx</p>
    </div>
</div> -->



<div class="marquee_NAMES_0">
    <div class="marquee_NAMES_1">
        <p>+ + + EgoZen + + + Armin Arndt + + + Bea Bianchini + + + Ken Rodenwald + + + Erika Sacco + + + </p>
    </div>
    <div class="marquee_NAMES_2">
        <p>+ + + EgoZen + + + Armin Arndt + + + Bea Bianchini + + + Ken Rodenwald + + + Erika Sacco + + + </p>
    </div>
</div>


<div class="marquee_INFO_0">
    <div class="marquee_INFO_3">
        <p><span>Aus heutiger Sicht ~</span> Diskurse über Zukunft ____ @Museum für Angewandte Kunst Frankfurt ____ <span>OPENING : 19.02.2021</span></p>
    </div>
    <div class="marquee_INFO_4">
        <p><span>Aus heutiger Sicht ~</span> Diskurse über Zukunft ____ @Museum für Angewandte Kunst Frankfurt ____ <span>OPENING : 19.02.2021</span></p>
    </div>
</div>