<!-- ------------------------- podcast style ---------------------------  -->
<style>
    .player-container {
        font-size: 22px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: auto;
        /* padding: 0; */
        z-index: 999;
        border-top: black 1px solid;
        background: white;
        color: black;
        font-family: var(--font-family-primary);

    }

    .player-container>* {
        position: relative;
        height: auto;
        width: 100%;

    }


    #podcast_track_list {
        transition: all 0.5s ease-in-out;
        visibility: collapse;
        height: 0;
        margin: 0;
        padding: 0;

        overflow-y: scroll;

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */

        display: grid;
        /* grid-template-columns: 40px 50px auto 50px 40px;
        grid-template-rows: 200px 40px 40px; */
    }

    #podcast_track_list::-webkit-scrollbar {
        display: none;
    }

    .player-controls {
        border-top: black 1px solid;
        display: grid;
        grid-template-columns: 50px 70px 100px auto 200px;
        grid-template-rows: 33px;
    }

    .player-controls>* {
        margin-left: 10px;
    }

    .player-controls:hover>* {
        color: gray;
    }

    .podcast_date {
        float: right;
    }

    #all_of_timeline {
        /* display: inline-block; */
        border-bottom: black 1px solid;
        border-top: black 1px solid;
        height: 30px;
        display: grid;
        grid-template-columns: auto 100px;
    }

    #all_of_timeline>* {
        /* display: inline-block; */

        margin: 3px;
        height: 20px;
    }

    #timeline {
        /* width: 100%; */
    }

    #playhead {
        width: 3px;
        background: black;
    }

    #duration {
        padding-left: 5px;
        margin-bottom: 5px;
    }

    #timeleft {
        text-align: right;
        /* width: 100%; */
        right: 5px;
        position: absolute;
    }


    #current_podcast {
        height: 40px;
    }
    
    .current_podcast_click_area {
        display: grid;
        grid-template-columns: 50px 50px 70px 100px auto 200px;
        grid-template-rows: auto;
    }
    .current_podcast_track_name {
        /* color: black; */
        /* font-size: 28px; */
    }

    .current_podcast_player_controls>* {
        padding-right: 30px;
        padding-left: 20px;
        /* height: 0; */
    }

    .current_podcast_player_controls:hover {
        color: gray;
    }

    .current_podcast_date {
        float: right;
    }



    .play {
        color: black;
        /* color: gray; */
        /* height: 30px;
        width: 30px;
        border: none;
        margin-left: 10px; */
    }

    .pause {
        color: gray;
        /* height: 30px;
        width: 30px;
        border: none; */
    }

    audio {
        display: none;
    }

    .info {
        /* color: black; */
        font-size: 16px;
    }


/* ---------------- audio volume control ---------------- */

    #volume {
        height: 20px;
        width: 30px;
        display: grid;
        grid-template-columns: 6px 6px 6px 6px 6px;
    }
    .volume_step {
        width: 5px;
        background-color: black;
        align-self: end;
    }
    #volume_step_0 {height: 40%;}
    #volume_step_1 {height: 50%;}
    #volume_step_2 {height: 60%;}
    #volume_step_3 {height: 70%;}
    #volume_step_4 {height: 80%;}
    #volume_step_0:hover {height: 60%; background-color: gray;}
    #volume_step_1:hover {height: 70%; background-color: gray;}
    #volume_step_2:hover {height: 80%; background-color: gray;}
    #volume_step_3:hover {height: 90%; background-color: gray;}
    #volume_step_4:hover {height: 100%; background-color: gray;}

    

</style>



<!-- ------------------------- podcast html ---------------------------  -->

<div id="podcast_area_all" class="player-container">

    <div id="audio_files" >
    <audio id="#11" class="podcast_audio_files" controls="controls">
        <source
            src="https://anchor.fm/s/3b4cd0ac/podcast/play/25425570/https%3A%2F%2Fd3ctxlq1ktw2nl.cloudfront.net%2Fstaging%2F2021-0-19%2F4f5d8f84-952b-9552-c189-2bd54b281bf9.mp3"
            type="audio/mpeg" />
    </audio>
    <audio id="#10" class="podcast_audio_files" controls="controls">
        <source
            src="https://anchor.fm/s/3b4cd0ac/podcast/play/25130446/https%3A%2F%2Fd3ctxlq1ktw2nl.cloudfront.net%2Fstaging%2F2021-0-13%2F1dca9c04-180e-e696-1552-fb413d22bfdd.mp3"
            type="audio/mpeg" />
    </audio>
    <audio id="#9" class="podcast_audio_files" controls="controls">
        <source
            src="https://anchor.fm/s/3b4cd0ac/podcast/play/24575397/https%3A%2F%2Fd3ctxlq1ktw2nl.cloudfront.net%2Fstaging%2F2020-11-30%2F32f31f43-b0e0-7ad9-3fe3-c416c7c0ee4b.mp3"
            type="audio/mpeg" />
    </audio>
    <audio id="#8" class="podcast_audio_files" controls="controls">
        <source
            src="https://anchor.fm/s/3b4cd0ac/podcast/play/24532360/https%3A%2F%2Fd3ctxlq1ktw2nl.cloudfront.net%2Fstaging%2F2020-11-29%2F2e017afe-9e56-b5b0-51c7-86588db03dc0.mp3"
            type="audio/mpeg" />
    </audio>
    <audio id="#7" class="podcast_audio_files" controls="controls">
        <source
            src="https://anchor.fm/s/3b4cd0ac/podcast/play/24005507/https%3A%2F%2Fd3ctxlq1ktw2nl.cloudfront.net%2Fstaging%2F2020-11-15%2F7072a2ec-b02b-9e6a-76ce-a9ad3353ab31.mp3"
            type="audio/mpeg" />
    </audio>
    </div>

    <ul id="podcast_track_list">
        <div class="player-controls play" id="podcast_list_object_#11">
            <span class="track_name podcast_play_pause_icon">►</span>
            <span class="track_name track_number" id="track_name_number_1" >#11</span>
            <span class="track_name">Off_line</span>
            <span class="track_name track_name_title" id="track_name_1">Wie sieht die zukünftige Ernährung aus?</span>
            <span class="track_name podcast_date">20 Jan 2021</span>
        </div>
        <div class="player-controls play" id="podcast_list_object_#10">
            <span class="track_name podcast_play_pause_icon" >►</span>
            <span class="track_name track_number" id="track_name_number_2">#10</span>
            <span class="track_name">Off_line</span>
            <span class="track_name track_name_title" id="track_name_2">Ist die Zukunft der Kultur digital?</span>
            <span class="track_name podcast_date">13 Jan 2021</span>
        </div>
        <div class="player-controls play" id="podcast_list_object_#9">
            <span class="track_name podcast_play_pause_icon">►</span>
            <span class="track_name track_number" id="track_name_number_3">#9</span>
            <span class="track_name">Off_line</span>
            <span class="track_name track_name_title" id="track_name_3">Wie kümmern wir uns in Zukunft?</span>
            <span class="track_name podcast_date">06 Jan 2021</span>
        </div>
        <div class="player-controls play" id="podcast_list_object_#8">
            <span class="track_name podcast_play_pause_icon">►</span>
            <span class="track_name track_number" id="track_name_number_4">#8</span>
            <span class="track_name">Off_line</span>
            <span class="track_name track_name_title" id="track_name_4">Wie bewegen wir uns in Zukunft fort?</span>
            <span class="track_name podcast_date">30 Dec 2020</span>
        </div>
        <div class="player-controls play" id="podcast_list_object_#7">
            <span class="track_name podcast_play_pause_icon">►</span>
            <span class="track_name track_number" id="track_name_number_5">#7</span>
            <span class="track_name">Off_line</span>
            <span class="track_name track_name_title" id="track_name_5">Dürfen wir an der Zukunft scheitern?</span>
            <span class="track_name podcast_date">16 Dec 2020</span>
        </div>
    </ul>


    <!-- <div class="player-header" onclick="ShowPodcastList()">
        <span>p</span>
        <span>o</span>
        <span>d</span>
        <span>c</span>
        <span>a</span>
        <span>s</span>
        <span>t</span>
    </div> -->


    <div id="all_of_timeline">
        <div class="audio-timeline" id="timeline">
            <div class="info" id="playhead">
                <span id="duration">0:00</span>
            </div>
        </div>
        <div class="info" id="timeleft"></div>
    </div>


    <div id="current_podcast">
        <!-- <div class="current_podcast_player_controls"> -->
        <div id="current_podcast_click_area" class="player-controls play">
            <span class="current_podcast_track_name" id="current_podcast_play_pause_icon">►</span>
            <span class="current_podcast_track_name track_number" id="current_podcast_track_name_number">#11</span>
            <span class="current_podcast_track_name">Off_line</span>
            <span class="current_podcast_track_name track_name_title" id="current_podcast_track_name">Wie sieht die zukünftige Ernährung
                aus?</span>
            <span class="current_podcast_track_name podcast_date"></span>
        </div>

        <div id="volume" style="position: absolute; right: 15px; top: 8px;">
            <div class="volume_step" id="volume_step_0"></div>
            <div class="volume_step" id="volume_step_1"></div>
            <div class="volume_step" id="volume_step_2"></div>
            <div class="volume_step" id="volume_step_3"></div>
            <div class="volume_step" id="volume_step_4"></div>
        </div>
    </div>


</div>

<!-- ------------------------- podcast javascript ---------------------------  -->

<script src="js/podcast-player.js"></script>