<!-- ------------------------- podcast style ---------------------------  -->
<style>
    .player-container {
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 0;
        z-index: 999;
        border-top: white 1px solid;
        background: black;
        height: auto;
    }

    .player-header {
        height: 24px;
        border-bottom: white 1px solid;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        font-size: 18px;
        justify-content: space-between;
        display: flex;
    }

    .audio-timeline {
        margin: 3px;
        height: 19px;
        width: 90%;
    }

    #playhead {
        width: 3px;
        height: 20px;
        background: white;
    }

    #podcast_track_list {
        height: auto;

    }

    .player-controls {
        border-top: white 1px solid;
        height: 50px;
    }

    #pButton {
        height: 30px;
        width: 30px;
        border: none;
        position: absolute;
        left: 8px;
        bottom: 8px;
    }

    .play {
        background: #E59BA8 no-repeat;
    }

    .pause {
        background: white no-repeat;
    }

    audio {
        display: none;
    }

    .info {
        color: white;
        font-size: 16px;
    }

    #duration {
        padding-left: 5px;
        margin-bottom: 5px;
    }

    #timeleft {
        width: 30px;
        height: 16px;
        right: 10px;
        position: absolute;
        top: 31px;
    }

    span.track-name {
        color: white;
        position: absolute;
        left: 70px;
        bottom: 8px;
        font-size: 28px;
    }
</style>


<!-- ------------------------- podcast html ---------------------------  -->

<audio id="music" controls="controls">
    <source src="https://d3ctxlq1ktw2nl.cloudfront.net/staging/2021-0-13/1dca9c04-180e-e696-1552-fb413d22bfdd.mp3"
        type="audio/mpeg" />
</audio>

<div class="player-container" onmouseleave="CollapsePodcastList()">

    <div class="player-header" onclick="ShowPodcastList()">
        <span>p</span>
        <span>o</span>
        <span>d</span>
        <span>c</span>
        <span>a</span>
        <span>s</span>
        <span>t</span>
    </div>

    <div class="audio-timeline" id="timeline">
        <div class="info" id="playhead"><span id="duration"></span></div>
        <div class="info" id="timeleft"></div>
    </div>

    <div id="podcast_track_list">
        <div class="player-controls">
            <button id="pButton" class="play" onclick="playAudio()"></button>
            <span class="track-name" id="nr8">#8 Wie bewegen wir uns in Zukunft fort? / Off_line / Dec 30, 2020 </span>
        </div>
    </div>

</div>

<!-- ------------------------- podcast javascript ---------------------------  -->

<script src="js/podcast-player.js"></script>