<style>
    div.question {
        position:fixed;
        width: 60%;
        height: auto;
        background-color: none;
        top: 30%;
        right: 0px;
        
    }
    div.above_question {
        background-color: white;
        height: 70px;
        width: 100%;
        float: right;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    mark#question{
        background-color: white;
        font-family: '2070';
        font-size: 50pt;
        font-weight: 600; 
        height: 1em;
        line-height: 1em; 
        padding: 0 0.15em;
    }

    div.white_div_0 {
        position: fixed;
        top: 0;
        right: 0;
        height: 30%;
        width: 10%;
        vertical-align: bottom;
    }
    div.white_div_1 {
        background-color: white;
        float: right;
        height: 100%;
        width: 50%;
    }
    div.white_div_2 {
        background-color: white;
        float: right;
        height: 50%;
        width: 50%;
        bottom: 0;
    }



</style>



<div class="white_div_0">
    <div class="white_div_1"></div>
    <div class="white_div_2"></div>
</div>
{{ range $i, $content := $.Site.Data.question | shuffle | first 1 }}
    <div class="question">
        <div class="above_question"></div>
        <h1><mark id="question">
            <!-- {{ $content.question }} -->
        </mark></h1>
    </div>


<!-- 
<div class="typewriter-container">
    <h5 class="typewriter">hello world</h5>
</div> -->

<script class="typewriter">
        document.addEventListener('DOMContentLoaded',function(event){
            
            var dataText = [
                "{{ $content.question }}"
            ];

            function typeWriter(text, i, fnCallback) {
                
                if (i < (text.length)) {
                    
                    document.querySelector("mark").innerHTML = text.substring(0, i+1) +'<span aria-hidden="true"></span>';

                    
                    setTimeout(function() {
                        typeWriter(text, i + 1, fnCallback)
                    }, 50);
                }
                
                else if (typeof fnCallback == 'function') {
                    
                    setTimeout(fnCallback, 700);
                }
            }
            
            function StartTextAnimation(i) {
                if (typeof dataText[i] == 'undefined'){
                    setTimeout(function() {
                        StartTextAnimation(0);
                    }, 200000);
                }
                
                if (i < dataText[i].length) {
                    
                    typeWriter(dataText[i], 0, function(){
                        
                        StartTextAnimation(i + 1);
                    });
                }
            }
            StartTextAnimation(0);
        });
    </script>

{{end}}